    <footer>
        <nav>
            <a href="/">SP500</a>
            <a href="/">Nasdaq</a>
            <a href="/">DXY</a>
            <a href="/">XAU</a>
            <a href="/">Total</a>
            <a href="/">BTC</a>
            <a href="/">ETH</a>
            <a href="/">BTC.D</a>
            <a href="/">USDT.D</a>
        </nav>
        <span><i class="icon-ping"></i><i data-binding="ping" class="ping"><b id="ping-status">Loading...</b></i><a href="/">Tradium</a></span>
    </footer>
    <a class="gotop"><i class="icon-gotop"></i></a>
</div>
</body>
</html>
<script src="/static/js/core.js"></script>
<script src="/static/js/ping.js"></script>
