{% include 'header.html' %}

<div class="content">
    <div class="title">
        <h1>DashBoard</h1>
    </div>
    <div class="cols">
        <div class="box rb wm">

        </div>    
        <div class="box">
            <h2>Virtual Servers</h2>
            <br>
            <a href="/orderbook">Orderbook</a><br>
            <a href="/market">Market</a>
        </div>

        <div class="box">
            <h2>System</h2>
            <a href="/ping">Server Ping</a><br>
            <br>
            <h2>API</h2>
            <a href="http://localhost:5002/binance/spot/BTCUSDT">Binance - BTCUSDT</a><br>
            <a href="http://localhost:5002/binance/spot/ETHUSDT">Binance - ETHUSDT</a><br><br>
            <a href="/api/top">API Top Gainers</a><br>
            <a href="/api/heatmap">API Heatmap</a><br>
            <br>
            <h2>СEX Data Store</h2>
            <a href="http://localhost:5002/tickers/json">All Binance Tickers JSON</a>
        </div>
        <i><b class="icon-delete"></b></i>
        <i><b class="icon-full"></b></i>
        <i><b class="icon-view"></b></i>
    </div>
</div>

{% include 'footer.html' %}
